<div class="running-head">
    <a class="btn-link header-button pull-left" href="#!/" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn-link header-button pull-left" href="#!/" role="button">
        Home
    </a>
    <a ng-show="!model.loggedInUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Login
    </a>
    <a ng-show="model.loggedInUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Logout
    </a>
    <a ng-show="model.loggedInUser" class="btn-link header-button pull-right" href="#!/profile/{{model.loggedInUser._id}}" role="button">
        Profile
    </a>
</div>


<div class="container-fluid">
    Tournaments you are Organizing
    <table class="table">
        <tr ng-repeat="tournament in model.tournaments track by $index">
            <td>
                {{tournament.name}}
            </td>
        </tr>
    </table>
</div>