<div class="running-head">
    <a class="btn-link header-button pull-left" href="#!/" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn-link header-button pull-left" href="#!/" role="button">
        Home
    </a>
    <a ng-show="!currentUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Login
    </a>
    <a ng-show="currentUser" class="btn-link header-button pull-right" href="#!/login" role="button">
        Logout
    </a>
    <a ng-show="currentUser" class="btn-link header-button pull-right" href="#!/profile/{{currentUser._id}}" role="button">
        Profile
    </a>
</div>

<div class="container-fluid">
    <h2>Card Details</h2>

    {{model.card.text}}

    <h2>Comments</h2>
    <div ng-show="currentUser">
        <div class="comment-section">
            <label for="comments">Comment</label>
            <input name="comments"
                   ng-model="model.comment"
                   type="text"
                   id="comments"
                   placeholder="say something about this card"
                   class="form-control"/>
            <a class="btn btn-default btn-primary btn-block" ng-click="model.createComment(currentUser, model.comment)" role="button">Comment</a>
        </div>
    </div>
    <div ng-show="!currentUser">
        <h3>Log in to comment on this card.</h3>
    </div>
    <table class="table">
        <tr ng-repeat="comment in model.card.comments">
            <td>
                {{comment}}
            </td>
        </tr>
    </table>
</div>