<div class="container-fluid">
    {{currentUser.username}}
    <h2>Card Details</h2>

    {{model.card.text}}

    <div class="comment-section">
        <label for="comments">Comments</label>
        <input name="comments"
               ng-model="model.comment"
               type="text"
               id="comments"
               placeholder="say something about this card"
               class="form-control"/>
        <a class="btn btn-default btn-primary btn-block" ng-click="model.createComment(currentUser, model.comment)" role="button">Comment</a>
    </div>
    <table class="table">
        <tr ng-repeat="comment in model.card.comments">
            <td>
                {{comment}}
            </td>
        </tr>
    </table>
    {{model.card.comments}}

</div>