<div class="running-head">
    Widgets
    <a class="btn-link header-button pull-left" href="../../page/templates/page-list.view.client.html" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn-link header-button pull-right" href="widget-choose.view.client.html" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</div>
<div class="container-fluid scroll">
    {{model.widgets}}
</div>
<div class="running-foot">
    <a class="btn-link footer-button pull-right" href="../../user/templates/profile.view.client.html" role="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
</div>