<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Widgets</title>
    <link href="../../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="running-head">
        Widgets
        <a class="btn-link header-button pull-left" href="../../page/templates/page-list.view.client.html" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="btn-link header-button pull-right" href="widget-choose.view.client.html" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <div class="container-fluid scroll">
        <div>
            <a class="btn-link widget-edit pull-right" href="widget-heading.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <h1>This is a widget header</h1>
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-youtube.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <h3>This is the title given to the video widget directly below it</h3>
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-youtube.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wg7v8YIu5Ms?ecver=2"></iframe>
            </div>
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-youtube.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <p>This is the text given to the video widget directly above it.</p>
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-image.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <h3>This is the title given to the image widget directly below it</h3>
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-image.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <img class="img-responsive" src="../../../vendor/images/image.png">
        </div>

        <div>
            <a class="btn-link widget-edit pull-right" href="widget-image.view.client.html" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <p>This is the text given to the image widget directly above it.</p>
        </div>


    </div>
    <div class="running-foot">
        <a class="btn-link footer-button pull-right" href="../../user/templates/profile.view.client.html" role="button">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </div>

</body>
</html>