<div class="container-fluid">

    <div ng-controller="loginController">

        <div ng-show="welcomeUser" class="alert alert-info">
            Welcome {{welcomeUser.username}}
        </div>


        <h1 class="entrance">Login</h1>

        <label for="username">Username</label>
        <input name="username"
               ng-model="user.username"
               id="username"
               placeholder="username"
               class="form-control"/>

        <label for="password">Password</label>
        <input name="password"
               ng-model="user.password"
               type="password"
               id="password"
               placeholder="password"
               class="form-control"/>

        <a class="btn btn-default btn-primary btn-block" ng-click="login(user)" role="button">Login</a>
        <a class="btn btn-default btn-success btn-block" href="register.html" role="button">Register</a>
    </div>
</div>