<div class="container-fluid">


    <!--<div class="col-sm-11 col-xs-6">-->
        <!--<input placeholder="Lookup user"-->
               <!--ng-model="userName"-->
               <!--class="form-control"/>-->
    <!--</div>-->
    <!--<div class="col-sm-1 col-xs-6">-->

        <!--<button class="btn btn-primary btn-block" ng-click="model.findUserByName(model.userName)">-->
            <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
        <!--</button>-->
    <!--</div>-->
    {{model.errorMessage}}
    <input placeholder="Lookup user"
           ng-model="userName"
           class="form-control"/>
    <button class="btn btn-primary btn-block" ng-click="model.findUserByName(userName)">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>

    <h1>Duelyst</h1>
    <a class="btn btn-primary btn-block" href="#!/search" role="button">
        Look up cards
    </a>


    <a class="btn btn-primary btn-block" href="#!/deck" role="button">
        Submit a Deck
    </a>
</div>